<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cnit425_final_project">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity.MainActivity"/>

        <activity
            android:name=".MainActivity.Fragment.Home.HomeWebActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Admin.NewEvent"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Admin.NewAnnouncement"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".MainActivity.Fragment.Announcement.AnnouncementViewActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".MainActivity.Fragment.Event.EventViewActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity.Fragment.Chat.Chatting.ChattingActivity"
            android:theme="@style/AppTheme" />

        <activity android:name=".Login.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Register.RegistrationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".MainActivity.Fragment.Chat.UserList.UserListActivity"
            android:theme="@style/AppTheme"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>